html
    title Master
    link(rel="stylesheet", href="/stylesheets/style.css")
    body
       ul#topmenu
        li  
            a(href="/") HOME
        li  
            a(href="/contacts") CONTACT US
        
        hr
        block content
        hr
        block footer